<div class="main">
    <div class="container">
        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-9">
            <h2>REQUEST FOR DEMO &amp; UPDATES! 
              <br>SIGN UP FOR EARLY ACCESS &amp; UPDATES!</h2>
            <div class="content-form-page">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <form class="form-horizontal" role="form">
                            <fieldset>
                                <legend>Your personal details</legend>
                                <div class="form-group">
                                    <label for="firstname" class="col-lg-4 control-label">First Name <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="firstname" name="firstname" ng-model="firstname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-lg-4 control-label">Last Name <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="lastname" name="lastname" ng-model="lastname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="email" name="email" ng-model="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-lg-4 control-label">Company Name <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="company" name="company" ng-model="company" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-lg-4 control-label">Message <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <textarea class="form-control" rows="5" id="message" name="message" ng-model="message" required></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                    <button  class="btn btn-primary" ng-click="fnRequestDemo();">REQUEST FOR A DEMO</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>