<div class="page-slider margin-bottom-40">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
          <!-- Indicators -->
            <ol class="carousel-indicators carousel-indicators-frontend">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-eight active">
                <div class="container">
                    <div class="carousel-position-six text-center">
                        <h5 class="carousel-text-effect margin-bottom-20 center animate-delay carousel-title-v5 text-uppercase" data-animation="animated fadeInDown">
                                 <span class="home-carousel-text">Deep Algorithms - Discovery, Design &amp; Develop Innovative Deep-Tech Products</span>
                            </h5>
                    </div>
                </div>
            </div>
            <!-- Second slide -->
            <div class="item carousel-item-ten">
                <div class="container">
                    <div class="carousel-position-six text-center">
                        <h5 class="carousel-text-effect margin-bottom-20 center animate-delay carousel-title-v5 text-uppercase" data-animation="animated fadeInDown">
                               <span class="home-carousel-text">Consulting services to drive the business by providing right solution with right technologies.</span>
                            </h5>
                    </div>
                </div>
            </div>
            <!-- Third slide -->
            <div class="item carousel-item-nine">
                <div class="container">
                    <div class="carousel-position-six text-center">
                        <h5 class="carousel-text-effect margin-bottom-20 center animate-delay carousel-title-v5 text-uppercase" data-animation="animated fadeInDown">
                               <span class="home-carousel-text">Industry-focused Training programs on advanced technologies with hands-on and practical exposure.</span>
                            </h5>
                        <div class="col-sm-12">
                            <p class="home-sub-sections">
                                <span class="home-carousel-text">AI / Data Science, Dev Ops, IOT, Big Data Technologies, Cloud Computing, Security</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- Controls -->
            <a class="left carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
    </div>
</div>
<div class="main">
    <div class="container">
        <!-- BEGIN BLOCKQUOTE BLOCK -->
        <div class="row quote-v1 margin-bottom-30">
            <div class="col-md-12 col-xs-12">
                <span>Are you looking to make a career as a Data Scientist.?</span>
                <br>
                 <div>Learn AI/Machinelearning/DeepLearning using Tensorflow, Python/R,  work on real time projects and get recruited instantly by top companies.</div>
            </div>
        </div>
        <!-- END BLOCKQUOTE BLOCK -->
        <div class="row margin-bottom-20">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <div class="col-sm-4">
                    <div class="pricing-head">
                        <h3>Data Scientist with Python &amp; R </h3>
                        <a href="#/courses" my-active-link="/courses">
                        <img src="pages/img/works/course1.jpg" alt="Amazing Project" class="img-responsive">
                    </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pricing-head">
                        <h3>NLP &amp; Text Analytics Specialization</h3>
                        <a href="#/courses" my-active-link="/courses">
                        <img class="img-responsive" src="pages/img/works/course2.jpg" alt="Amazing Project" class="img-responsive">
                    </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pricing-head">
                        <h3>Deep Learning Specialization</h3>
                        <a href="#/courses" my-active-link="/courses">
                        <img class="img-responsive" src="pages/img/works/course3.jpg" alt="Amazing Project" class="img-responsive">
                    </a>
                    </div>
                </div>
            </div>
            <p class="clearfix"></p>
            <hr>
            <div class="col-md-12 col-sm-12">
                <div class="col-sm-4">
                    <div class="pricing-head">
                        <h3>Big Data Analytics</h3>
                        <a href="#/courses" my-active-link="/courses">
                        <img class="img-responsive" src="pages/img/works/course4.jpg" alt="Amazing Project" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pricing-head">
                        <h3>Machine Learning with Spark</h3>
                        <a href="#/courses" my-active-link="/courses">
                        <img class="img-responsive" src="pages/img/works/course5.jpg" alt="Amazing Project" class="img-responsive">
                    </a>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- BEGIN STEPS -->
        <div class="row margin-bottom-20 front-steps-wrapper front-steps-count-3">
            <div class="col-md-4 col-sm-4 front-step-col">
                <div class="front-step front-step1">
                    <h2>Research &amp; Development</h2>
                    <p>Build Innovative Products on the deep technologies by our Research & Development Team.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 front-step-col">
                <div class="front-step front-step2">
                    <h2>Consulting</h2>
                    <p>Providing right solutions with right technologies to drive the business towards effective data analytics.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 front-step-col">
                <div class="front-step front-step3">
                    <h2>Training</h2>
                    <p>Industry-focused Training programs on advanced technologies with hands-on and practical exposure.</p>
                </div>
            </div>
        </div>
        <!-- END STEPS -->
        <!-- BEGIN RECENT WORKS -->
        <div class="row recent-work margin-bottom-40">
            <div class="col-md-3">
                <h2><a href="portfolio.html">Recent Works</a></h2>
                <h4>We keep developing and innovating products and services that help clients achieve their ambitions.</h4>
            </div>
            <div class="col-md-9">
                <div class="owl-carousel owl-carousel3">
                    <div class="recent-work-item">
                        <em>
                  <img src="pages/img/works/img1.jpg" alt="Amazing Project" class="img-responsive">
                  <a><i class="fa fa-link"></i></a>
                  <a class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                        <a class="recent-work-description" href="javascript:;">
                  <b> Data Science Learning  Mobile App</b>
                </a>
                    </div>
                    <div class="recent-work-item">
                        <em>
                  <img src="pages/img/works/img2.png" style="height:120px" alt="Amazing Project" class="img-responsive">
                  <a><i class="fa fa-link"></i></a>
                  <a class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                        <a class="recent-work-description" href="javascript:;">
                  <b>Collision Prevention App</b>
                </a>
                    </div>
                    <div class="recent-work-item">
                        <em>
                  <img src="pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">
                  <a><i class="fa fa-link"></i></a>
                  <a class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                        <a class="recent-work-description" href="javascript:;">
                  <b>Conversational Chatbot</b>
                </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END RECENT WORKS -->
        <div class="row margin-bottom-40">
            <!-- BEGIN TESTIMONIALS -->
            <div class="col-md-9 testimonials-v1">
                <h2>Testimonials</h2>
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <p>The training provided under the guidance of JP Mishra is not just a training but a On-the-job training exposure, which actually helps to bridge the gap between professional training &amp; practical exposure in the world of Data Science.
                                </p>
                                <p>
                                    The course is very structured and in details keeping in view the changes happening in the Analytics industry.
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img class="pull-left img-responsive" src="pages/img/photos/Picture1.png" alt="">
                                <div class="pull-left">
                                    <span class="testimonials-name">Rupesh</span>
                                    <span class="testimonials-post">AVP, Capgemini  Pune</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>JP is an excellent real-time faculty with in-depth knowledge in Data Science (Machine learning in R, SparkML and Python). Received plenty of real-time knowledge in Data Science from him.</p>
                                <p>
                                    Received Assignments on every friday and Assignment answers review on every Monday. Now I am able to handle Data Science project in my new company due to his real-time Assignments. I am easily building machine learning models in my project with fine tuning because of him. </p>
                                <p>We got explanation/solution on real-time issues clearly on every concept.
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img class="pull-left img-responsive" src="pages/img/photos/Picture2.png" alt="">
                                <div class="pull-left">
                                    <span class="testimonials-name">Gopi  Chand</span>
                                    <span class="testimonials-post">Data Analyst,  Apervi Technologies Hyderabad</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>The way course content with practical examples covered is really helpful to understand data science concepts. Due to this industry focused training programs, I am able to work in analytics project to quickly create some prototypes to get data insights.
                                </p>
                                <p>
                                    I really appreciate his way of practical oriented training and sharing such a great contents to cover all of the data science concepts.
                                </p>
                                <p>
                                    I would suggest new comer to join this course to meet new generation requirement and enhance own skill set under his experience.
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img class="pull-left img-responsive" src="pages/img/photos/Picture3.png" alt="">
                                <div class="pull-left">
                                    <span class="testimonials-name">Manmohan Singh</span>
                                    <span class="testimonials-post">Tech Lead,   Siemens  Nodia</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>I have attended the machine learning training for professional given by JP Mishra in my organization.   I really like the way he  demonstrated  the complex machine learning concepts like supervised learning , unsupervised learning and various ML algorithm like linear regression, logistic regression, decision tree  and statistics behind them with example.
                                </p>
                                <p>
                                    Training was really helpful for me in understanding ML. I recommend this training for everyone who wants to learn machine learning.
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img class="pull-left img-responsive" src="pages/img/photos/Picture4.png" alt="">
                                <div class="pull-left">
                                    <span class="testimonials-name">Yogesh Chandolia</span>
                                    <span class="testimonials-post">Sr. Software Engineer,   Harman Samsung  Gurgaon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>The training is very structured and really helped in basic building blocks of Data Science(Machine learning in Python, SparkML, TensorFlow Deep Learning and R)
                                </p>
                                <p>
                                    Here unlike any other training we are able to ask every simple question and the trainer doesn't hesitate to clarify even smallest of our doubts. He is not just into academics teaching but a real time professional working on the real life solutions on Data Science with a prestigious organization.
                                </p>
                                <p>
                                    JP Mishra ensures that people trained by him are able to work on real time solutions once they finish the training and keep oneself abreast in Data Science world.
                                </p>
                            </blockquote>
                            <div class="carousel-info">
                                <img class="pull-left img-responsive" src="pages/img/photos/Picture5.png" alt="">
                                <div class="pull-left">
                                    <span class="testimonials-name">Ambarish</span>
                                    <span class="testimonials-post">Technical Consultant, Infosys Bangalore</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
                    <a class="right-btn" href="#myCarousel" data-slide="next"></a>
                </div>
            </div>
            <!-- END TESTIMONIALS -->
            <div class="col-md-3">
                <!-- BEGIN RECENT NEWS -->
                <h2>Latest News</h2>
                <div class="recent-news margin-bottom-10">
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            <img class="img-responsive" alt="" src="pages/img/works/IOT.png">
                        </div>
                        <div class="col-md-9 recent-news-inner">
                            <h3><a href="javascript:;">IOT</a></h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            <img class="img-responsive" alt="" src="pages/img/works/DevOps.png">
                        </div>
                        <div class="col-md-9 recent-news-inner">
                            <h3><a href="javascript:;">DevOps</a></h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            <img class="img-responsive" alt="" src="pages/img/works/Cloud Computing.png">
                        </div>
                        <div class="col-md-9 recent-news-inner">
                            <h3><a href="javascript:;">Cloud Computing</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END RECENT NEWS -->
        </div>
        <!-- BEGIN CLIENTS -->
        <div class="row margin-bottom-10 our-clients">
            <div class="col-md-3">
                <h2>Our Clients</h2>
                <!--  <p>some content here...</p> -->
            </div>
            <div class="col-md-2">
                <a href="javascript:;">
                  <img src="pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="javascript:;">
                  <img src="pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        <!-- END CLIENTS -->
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    Layout.init();
    Layout.initOWL();
});
</script>