<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#/home" my-active-link="/home">Home</a></li>
            <li class="active">About - Company</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>About Company</h1>
                <div class="content-page">
                    <div class="row margin-bottom-30">
                        <!-- BEGIN INFO BLOCK -->
                        <div class="col-md-10 well home-section-bg">
                            <p>"DeepAlgorithms" is a venture launched by highly qualified and globally experienced professionals with focus on Research &amp; Development on Deep Technologies. Our focus is to develop innovative products, provide consulting services to drive today's business needs. </p>
                            <p>Our goal also include to create highly skilled resources through Industry/market focused training programs on Advanced Technologies.
                            </p>
                        </div>
                        <!-- END INFO BLOCK -->
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>