<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#/home" my-active-link="/home">Home</a></li>
            <li class="active">Why DeepAlgorthims?</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>Why DeepAlgorthims?</h1>
                <div class="content-page">
                    <div class="row margin-bottom-30">
                        <!-- BEGIN INFO BLOCK -->
                        <div class="col-md-10 well home-section-bg">
                            <ul class="list-unstyled margin-bottom-20">
                                <li><i class="fa fa-check"></i> Strong Industry experienced professionals with global exposure.</li>
                                <li><i class="fa fa-check"></i> Innovative and quality training methods</li>
                                <li><i class="fa fa-check"></i> Real time industry use case implementation</li>
                                <li><i class="fa fa-check"></i>Intern opportunity to work in Startup to get the industry work exposure</li>
                                <li><i class="fa fa-check"></i>Corporate soft skill training to groom the communication, Presentation and Inter-personal skills.</li>
                            </ul>
                        </div>
                        <!-- END INFO BLOCK -->
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>