<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#/home" my-active-link="/home">Home</a></li>
            <li class="active">About Us</li>
        </ul>
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>About Us</h1>
                <div class="content-page">
                    <div class="row">
                        <!-- BEGIN LEFT SIDEBAR -->
                        <div class="col-md-12 col-sm-12 blog-posts front-team">
                            <div class="row well home-section-bg">
                                <div class="col-md-3 col-sm-3">
                                    <img class="img-responsive" alt="" src="pages/img/people/JP_Mishra.jpg">
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <h4><b>JP Mishra</b> </h4>
                                    <h5><b>CEO and Founder<br>Executive Business Analytics - IIM Calcutta, PGDESD - CDAC</b></h5>
                                    <br>
                                    <p>JP has over 11+ years of experience in analytics and consulting with leading global organizations such as UnitedHealthGroup, ADP Wilco, Callidus, Satyam, SHS and has deep expertise in AI, Data Science, Designs analytical methods for insights mining in the area of Fraud Analytics, Churn Analytics, Denial Management, NLP conversational, Face-recognition/Object-detection.
                                    </p>
                                    <p>Vastly experienced in carrying out Analytics Training Program for Corporate like Unisys Bangalore, Harman Gurgaon , and provided online trainings to Cross Cultural Workforce Worldwide(USA, Singapore, UAE, etc). </p>
                                    <a href="https://www.linkedin.com/in/j-p-mishra-97272011/">
                                    <img src="pages/img/social/linkedin.png" /></a>
                                </div>
                            </div>
                              <hr class="blog-post-sep">
                            <div class="row well home-section-bg">
                                <div class="col-md-3 col-sm-3">
                                    <img class="img-responsive" alt="" src="pages/img/people/Ratnesh_tiwari.png">
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <h4><b>Dr. Ratnesh Tiwari</b></h4>
                                    <h5><b>Head - Research &amp; Development <br>B. Tech IIT Kanpur , PhD University of Maryland, USA.</b></h5>
                                    <br>
                                    <p>Dr. Ratnesh Tiwari is R&amp;D head and brings in long research and development experience. He is also works at University of Maryland, USA. He has 7 years of professional and industrial work experience working as Sr. Data Scientist, Research Scientist and process development engineer.
                                    </p>
                                    <p>
                                        Apart from Data Science, his Research Interests are related to heat transfer, Electronics cooling, Product development, Building energy modeling and compact heat exchangers.</p>
                                    <a href="https://www.linkedin.com/in/ratnesht/"><img src="pages/img/social/linkedin.png" /></a>
                                </div>
                            </div>
                            <hr class="blog-post-sep">
                            <div class="row well home-section-bg">
                                <div class="col-md-3 col-sm-3">
                                    <img class="img-responsive" alt="" src="pages/img/people/Laxman_reddy.jpg">
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <h4><b>Laxman Reddy P V</b></h4>
                                    <h5><b>Head - Finance and Administration<br>Chartered Accountant, Dual PGDBA (Finance &amp; International Marketing)<br>Founder  Purnam Outreach. </b></h5>
                                    <br>
                                    <p>19+ years of extensive management consulting experience in Transportation, Communications, Trading, Energy, Manufacturing and BFSI space. Deep expertise in Business Process Reengineering, Business Strategy, Shared Services, Business Process Transformation, Program Management, Delivery Management, Talent Management, Resource Management and Business Development.
                                    </p>
                                    <p>
                                        Conducted Seminars in Multinational Organizations on Resource Mgmt., Communication Mgmt., Delivery Mgmt., Engagement Mgmt., . Attended Personality Development Seminars in MIT, Harvard, UMass, Stanford Universities.</p>
                                    <a href="in.linkedin.com/pub/laxman-reddy/7/884/135/"><img src="pages/img/social/linkedin.png" /></a>
                                </div>
                            </div>
                            <hr class="blog-post-sep">
                            <div class="row well home-section-bg">
                                <div class="col-md-3 col-sm-3">
                                    <img class="img-responsive" alt="" src="pages/img/people/Ajitesh_shukla.jpg">
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <h4><b>Ajitesh Shukla</h4>
                                    <h5><b>Mentor and  Advisory Board  Member<br>B.Tech – IIT Khargpur, CTO – Raksan</b></h5>
                                    <br>
                                    <p>With more than 18 years of experience in IT industry, Ajitesh has worked in larger/medium-size companies and startups. He has been part of founding technology team of successful startups such as Cendura (acquired by CA) and WaveCrest Payments Technologies (Setup Technology team of 100+ Engineers in India)
                                    </p>
                                    <p>
                                        Ajitesh has recently authored a book titled as <a href="https://www.packtpub.com/application-development/building-web-apps-spring-5-and-angular">“Building Web Apps with Spring 5 and Angular”</a> which is being published worldwide by PacktPub.</p>
                                    <a href="https://www.linkedin.com/in/ajitesh/"><img src="pages/img/social/linkedin.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END LEFT SIDEBAR -->
                </div>
                <!-- END RIGHT SIDEBAR -->
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>