<div class="page-slider margin-bottom-40">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Second slide -->
            <div class="item carousel-item-ten active">
                <div class="container">
                    <div class="carousel-position-six text-center">
                        <h5 class="carousel-text-effect margin-bottom-20 center animate-delay carousel-title-v5 text-uppercase" data-animation="animated fadeInDown">
                               <span class="home-carousel-text">Consulting services to drive the business by providing right solution with right technologies.</span>
                            </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <!-- BEGIN BLOCKQUOTE BLOCK -->
        <div class="row quote-v1 margin-bottom-30">
            <div class="col-md-12">
                <span>WE HAVE YEARS OF EXPERIENCED EXPERTISE WORKING ACROSS VARIOUS FUNCTIONS AND TECHNOLOGIES TO PROVIDE THE INNOVATIVE SOLUTIONS USING RIGHT TECHNOLOGIES.</span>
            </div>
        </div>
        <!-- BEGIN STEPS -->
        <h2>Our Technologies</h2>
        <div class="row margin-bottom-20 front-steps-wrapper front-steps-count-3">
            <div class="col-md-2 col-sm-2 front-step-col">
                <div class="front-step front-step1">
                    <h2>AI &amp;  Data Science</h2>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 front-step-col">
                <div class="front-step front-step2">
                    <h2> Big Data Technologies</h2>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 front-step-col">
                <div class="front-step front-step3">
                    <h2>DataWarehousing &amp; BI</h2>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 front-step-col">
                <div class="front-step front-step4">
                    <h2>Cloud Solutions</h2></p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 front-step-col">
                <div class="front-step front-step5">
                    <h2>IOT</h2>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 front-step-col">
                <div class="front-step front-step6">
                    <h2>Security</h2>
                </div>
            </div>
        </div>
        <!-- END STEPS -->
        <br>
        <!--INDUSTRY SOLUTION OFFERING BEGIN-->
        <h2>Industry Solution Offering</h2>
        <div class="row industry-font-color margin-bottom-20">
            <div class="col-sm-12 col-md-12">
                <div class="col-md-4 text-center">
                    <div class="well">
                        <i class="fa fa-play-circle-o fa-3x"></i>
                        <h4><b>
                            Image and Video Analytics:
                        </b></h4>
                        <p>
                            Image Insights, Motion Detection, Visual content Analysis, Facial Recognition, Hand written text recognition.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="well">
                        <i class="fa fa-file-text-o fa-3x"></i>
                        <h4><b>
                            NLP and Text Analytics:
                        </b></h4>
                        <p>
                            Sentiment Analysis, Speech Recognition, Conversational System Chatbot Text Classification, Text Similarities, Machine Translation, Text Summarization
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="well">
                        <i class="fa fa-bar-chart-o fa-3x"></i>
                        <h4><b>
                            Fraud and Risk Analytics
                        </b></h4>
                        <br>
                        <p>
                            Fraud detection in telecom, Insurance, Retail and Banking sector. Risk Insights and modeling
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="col-md-4 text-center">
                    <div class="well">
                        <i class="fa fa-users fa-3x"></i>
                        <h4><b>
                            Customer Analytics
                        </b></h4>
                        <p>
                            Customer segmentation, RFM Analysis, Recommendations, Proactive retentions, Behavior &amp; buying patterns analysis.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="well">
                        <i class="fa fa-hospital-o fa-3x"></i>
                        <h4><b>
                            Healthcare Analytics
                        </b></h4>
                        <p>
                            Claims fraud mitigation, Patient Profiling, EHR Analysis, Evidence-Based Medicine, Hospital Re-admissions Reduction etc.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="well">
                        <i class="fa fa-area-chart fa-3x"></i>
                        <h4><b>
                            BI Visualizations
                        </b></h4>
                        <br>
                        <p>
                            Reporting (KPIs, metrics), Dashboards, Score cards, Interactive and Real Time Visualization
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--INDUSTRY SOLUTION OFFERING END-->
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    Layout.init();
    Layout.initOWL();
});
</script>