<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#/home" my-active-link="/home">Home</a></li>
            <li class="active">Courses</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>COURSES</h1>
                <div class="content-page">
                    <div class="row mix-grid thumbnails">
                        <!-- courses -->
                        <div class="col-md-3 col-sm-3 mix category_1 mix_all" style="display: block; opacity: 1;padding: 5px ">
                            <div>
                                <div class="pricing-head">
                                    <h3>Data Scientist with Python &amp; R </h3>
                                    <img class="img-responsive" src="pages/img/works/course1.jpg" alt="Amazing Project" class="img-responsive">
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Descriptive and Inferential Statistics</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Detailed Concepts of R &amp; Python scietific libraries</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Exploratory Data Analysis using R &amp; Python</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Machine Learnings using R &amp; Python scientific libraries</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>End-to-end implementation of Industry based Projects</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mix-details">
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <div> <i class="fa fa-tags"></i> <b>                           Descriptive and Inferential Statistics</b>
                                        </div>
                                        <div>- Summary statistics, Z-test, T-test, Chisq-test, Hypothesis Testing</div>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Detailed Concepts of R &amp; Python scietific libraries</b>
                                    </li>
                                    <li>
                                        <div> <i class="fa fa-tags"></i> <b>Exploratory Data Analysis using R &amp; Python</b></div>
                                        <div>
                                            - Data preprocessing and transformation, derived attributes, data challenges</div>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>End-to-end implementation of Industry based Projects</b>
                                    </li>
                                    <li>
                                        <div> <i class="fa fa-tags"></i> <b>Machine Learnings using R &amp; Python scientific libraries</b></div>
                                        <div>
                                            - Supervise vs Unsupervised learning
                                        </div>
                                        <div>
                                            - Regression, Logistic Regression
                                        </div>
                                        <div>
                                            - Time Series Modeling
                                        </div>
                                        <div>
                                            - Decision Tree, Bagging , Boosting
                                        </div>
                                        <div>
                                            - Neural Network
                                        </div>
                                        <div>
                                            - SVM (Support Vector Machine)
                                        </div>
                                        <div>
                                            - Clustering
                                        </div>
                                        <div>
                                            - Association Mining (Recommender Engines)
                                        </div>
                                        <div>
                                            - Model Training, Testing and Tuning Parameters
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 col-sm-3 mix category_1 mix_all" style="display: block; opacity: 1;padding: 5px ">
                            <div>
                                <div class="pricing-head">
                                    <h3>NLP &amp; Text Analytics Specialization</h3>
                                    <img class="img-responsive" src="pages/img/works/course2.jpg" alt="Amazing Project" class="img-responsive">
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> <b>NLP Concepts</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b> Text Pre-processing &amp; Cleaning</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Text Feature Engineering</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Sentiment Analysis</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b> Text Classification &amp; Summarization</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Machine Translation</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Conversational System (Chat-bot)</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mix-details">
                                <div class="course-length">
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b>NLP Concepts</b></div>
                                        </li>
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b>Text Pre-processing &amp; Cleaning</b>
                                            </div>
                                            <div> - Tokenizing, Stemming, Lemmatization</div>
                                        </li>
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b>Text Feature Engineering</b>
                                            </div>
                                            <div> - Syntactic Analysis (POS tagging)</div>
                                            <div> - Semantic Analysis</div>
                                            <div> - Statistical features (TF-IDF)</div>
                                            <div> - Entity Parsing (NER, N-Gram)</div>
                                            <div> - Topic Modeling</div>
                                        </li>
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b>Sentiment Analysis</b></div>
                                        </li>
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b> Text Classification &amp; Summarization</b>
                                            </div>
                                        </li>
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b>Machine Translation</b></div>
                                        </li>
                                        <li>
                                            <div> <i class="fa fa-tags"></i> <b>Conversational System (Chat-bot)</b>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 col-sm-3 mix category_1 mix_all" style="display: block; opacity: 1;padding: 5px ">
                            <div>
                                <div class="pricing-head">
                                    <h3>Deep Learning Specialization</h3>
                                    <img class="img-responsive" src="pages/img/works/course3.jpg" alt="Amazing Project" class="img-responsive">
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Introduction to Computer vision, Image and Video basics</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Introduction to Deep Learning</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Deep learning environment prerequisites(Tensorflow &amp; Kears)</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Artificial &amp; Deep Learning Neural Networks Concepts</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Convolutional &amp; Recurrent Neural Networks</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Self Organizing Maps &amp; AutoEncoders</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Case studies on face recognition, object detection using Deep Learning</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mix-details">
                                <div class="course-length">
                                    <div>
                                        <ul class="pricing-content list-unstyled">
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Introduction to Computer vision, Image and Video basics</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Introduction to Deep Learning</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Deep learning environment prerequisites(Tensorflow &amp; Kears)</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Artificial Neural  Networks Concepts</b>
                                                <div> - Activation Function, Gradient Descent, Back Propagation</div>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Deep Learning neural network concepts</b>
                                                <div> - Softmax, Cross Entropy, one-hot-coding</div>
                                                <div> - Stochastic Optimization, Regularization</div>
                                                <div> - Deep Network</div>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Convolutional Neural Networks</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Recurrent Neural Networks</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Self Organizing Maps</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>AutoEncoders</b>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <b>Case studies on face recognition, object detection using Deep Learning</b>
                                            </li>
                                        </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mix-grid thumbnails">
                        <!-- courses -->
                        <div class="col-md-3 col-sm-3 mix category_1 mix_all" style="display: block; opacity: 1;padding: 5px ">
                            <div>
                                <div class="pricing-head">
                                    <h3>Big Data Analytics</h3>
                                    <img class="img-responsive" src="pages/img/works/course4.jpg" alt="Amazing Project" class="img-responsive">
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Introduction to Big Data ecosystem</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Big Data tools - Sqoop, Hive, Impala, Pig, Spark etc</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Data Ingestion from different sources using Sqoop and HDFS</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Data transformation and organizing using Spark and Hive</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Unstructured data loading and processing Hadoop ecosystem</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Real time data analytics using Impala queries</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Implementation of Big Data ETL project with multi layers architecture</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Case study using Big Data platform to perform data analytics</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Upcoming new tools and technologies in Big Data ecosystems</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mix-details">
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Introduction to Big Data ecosystem</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Big Data tools - Sqoop, Hive, Impala, Pig, Spark etc</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Data Ingestion from different sources using Sqoop and HDFS</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Data transformation and organizing using Spark and Hive</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Unstructured data loading and processing Hadoop ecosystem</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Real time data analytics using Impala queries</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Implementation of Big Data ETL project with multi layers architecture</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Case study using Big Data platform to perform data analytics</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Upcoming new tools and technologies in Big Data ecosystems</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 col-sm-3 mix category_1 mix_all" style="display: block; opacity: 1;padding: 5px ">
                            <div>
                                <div class="pricing-head">
                                    <h3>Machine Learning with Spark</h3>
                                    <img class="img-responsive" src="pages/img/works/course5.jpg" alt="Amazing Project" class="img-responsive">
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Introduction to Spark architecture </b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Input data format RDD and Dataframes</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Spark parallel processing concepts</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i> <b>Spark data processing pipelines with Hadoop streaming</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Machine Learning concepts - RF, GBM, ANN, SVM etc</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>ML implementation using Spark's MLlib</b>
                                    </li>
                                    <li>
                                        <i class="fa fa-tags"></i><b>Case study using Spark Mllib to run predictive models</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mix-details">
                                <div class="course-length">
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            <i class="fa fa-tags"></i> <b>Introduction to Spark architecture </b>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i> <b>Input data format RDD and Dataframes</b>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i><b>Spark parallel processing concepts</b>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i> <b>Spark data processing pipelines with Hadoop streaming</b>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i><b>Machine Learning concepts - RF, GBM, ANN, SVM etc</b>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i><b>ML implementation using Spark's MLlib</b>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags"></i><b>Case study using Spark Mllib to run predictive models</b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- BEGIN SIDEBAR & CONTENT -->
    </div>
</div>